@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin. */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden],
template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers. */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers. */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof). */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

h1, h2, h3 {
  color: #2A8787; }

html {
  height: 100vh; }
  html body {
    height: 100vh; }
    html body #main_container {
      height: calc(100% - 40px); }
      html body #main_container > div {
        height: 100%; }
    html body .application-container {
      height: 100vh; }
    html body .main-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      height: calc(100% - 65px); }
      html body .main-container .view-container {
        flex: 1;
        padding: 0 1.5em;
        height: calc(100% - 3em); }
        html body .main-container .view-container .view-header {
          padding: 0.75em 0; }
          html body .main-container .view-container .view-header h3 {
            text-align: center;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 0; }
        html body .main-container .view-container .table {
          background: white;
          border-radius: 3px;
          border-collapse: collapse;
          height: 320px;
          margin: auto;
          max-width: 600px;
          padding: 5px;
          width: 100%;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          animation: float 5s infinite; }
        html body .main-container .view-container th {
          color: #D5DDE5;
          background: #1b1e24;
          border-bottom: 4px solid #9ea7af;
          border-right: 1px solid #343a45;
          font-size: 23px;
          font-weight: 100;
          padding: 24px;
          text-align: left;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          vertical-align: middle; }
        html body .main-container .view-container th:first-child {
          border-top-left-radius: 3px; }
        html body .main-container .view-container th:last-child {
          border-top-right-radius: 3px;
          border-right: none; }
        html body .main-container .view-container tr {
          border-top: 1px solid #C1C3D1;
          border-bottom-: 1px solid #C1C3D1;
          color: #666B85;
          font-size: 16px;
          font-weight: normal;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }
        html body .main-container .view-container tr:hover td {
          background: #4E5066;
          color: #FFFFFF;
          border-top: 1px solid #22262e;
          border-bottom: 1px solid #22262e; }
        html body .main-container .view-container tr:first-child {
          border-top: none; }
        html body .main-container .view-container tr:last-child {
          border-bottom: none; }
        html body .main-container .view-container tr:nth-child(odd) td {
          background: #EBEBEB; }
        html body .main-container .view-container tr:nth-child(odd):hover td {
          background: #4E5066; }
        html body .main-container .view-container tr:last-child td:first-child {
          border-bottom-left-radius: 3px; }
        html body .main-container .view-container tr:last-child td:last-child {
          border-bottom-right-radius: 3px; }
        html body .main-container .view-container td {
          background: #FFFFFF;
          padding: 20px;
          text-align: left;
          vertical-align: middle;
          font-weight: 300;
          font-size: 18px;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
          border-right: 1px solid #C1C3D1; }
        html body .main-container .view-container td:last-child {
          border-right: 0px; }
        html body .main-container .view-container th.text-left {
          text-align: left; }
        html body .main-container .view-container th.text-center {
          text-align: center; }
        html body .main-container .view-container th.text-right {
          text-align: right; }
        html body .main-container .view-container td.text-left {
          text-align: left; }
        html body .main-container .view-container td.text-center {
          text-align: center; }
        html body .main-container .view-container td.text-right {
          text-align: right; }

body {
  background: #152b39; }

body {
  color: #4c4e50;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #3498db;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #2772a4; }

form [type=text], form [type=password], form [type=date], form [type=email], form select, form .selectize-input, form textarea, form [type=number], form button, .form [type=text], .form [type=password], .form [type=date], .form [type=email], .form select, .form .selectize-input, .form textarea, .form [type=number], .form button {
  border: 1px solid #bdc3c7;
  padding: .75em;
  border-radius: 3px;
  box-shadow: none;
  line-height: 1.2em; }
  form [type=text]:focus, form [type=password]:focus, form [type=date]:focus, form [type=email]:focus, form select:focus, form .selectize-input:focus, form textarea:focus, form [type=number]:focus, form button:focus, .form [type=text]:focus, .form [type=password]:focus, .form [type=date]:focus, .form [type=email]:focus, .form select:focus, .form .selectize-input:focus, .form textarea:focus, .form [type=number]:focus, .form button:focus {
    box-shadow: none;
    outline: none; }

form .error, .form .error {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  color: #e74c3c; }

.main-header {
  background: #122530;
  line-height: 2.7em;
  padding: 0 1.5em;
  color: #fff;
  position: relative; }
  .main-header::after {
    clear: both;
    content: "";
    display: block; }
  .main-header nav {
    float: left;
    margin: 0;
    padding: 0; }
    .main-header nav.right {
      float: right; }
    .main-header nav ul {
      list-style: none;
      display: inline-block;
      margin: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0; }
      .main-header nav ul li {
        display: inline-block; }
        .main-header nav ul li a {
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s;
          color: rgba(255, 255, 255, 0.5);
          background: rgba(255, 255, 255, 0.15);
          border-radius: 3px;
          padding: .3em .5em;
          line-height: 1em; }
          .main-header nav ul li a.tasks-button {
            margin-right: .5em; }
          .main-header nav ul li a.current-user {
            position: relative;
            overflow: hidden;
            padding-left: 35px;
            margin-right: .5em; }
            .main-header nav ul li a.current-user .react-gravatar {
              width: 30px;
              height: 30px;
              border-radius: 3px;
              margin-right: .5em;
              position: absolute;
              top: 50%;
              margin-top: -15px;
              left: 0; }
          .main-header nav ul li a .fa {
            color: #fff; }
          .main-header nav ul li a:hover {
            color: #fff; }
    .main-header nav#tasks_nav > ul > li {
      position: relative; }
      .main-header nav#tasks_nav > ul > li a {
        display: block; }
      .main-header nav#tasks_nav > ul > li .dropdown {
        position: absolute;
        display: block;
        z-index: 99;
        background: #fff;
        border-radius: 3px;
        left: 0;
        margin-top: .5em;
        color: #4c4e50;
        width: 15em;
        padding: .3em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        animation-duration: .3s;
        animation-name: fadeIn; }
        .main-header nav#tasks_nav > ul > li .dropdown header {
          padding: 0 .5em;
          color: #bdc3c7; }
        .main-header nav#tasks_nav > ul > li .dropdown ul {
          display: block;
          position: relative;
          max-height: 15em;
          overflow-y: auto; }
          .main-header nav#tasks_nav > ul > li .dropdown ul li {
            display: block;
            margin-bottom: .3em; }
            .main-header nav#tasks_nav > ul > li .dropdown ul li a {
              -webkit-transition: all 0.15s ease-out 0s;
              -moz-transition: all 0.15s ease-out 0s;
              transition: all 0.15s ease-out 0s;
              color: #4c4e50;
              font-weight: bold;
              display: block;
              padding: .7em .5em;
              background: rgba(21, 43, 57, 0.2); }
              .main-header nav#tasks_nav > ul > li .dropdown ul li a:hover {
                background: rgba(21, 43, 57, 0.5); }
          .main-header nav#tasks_nav > ul > li .dropdown ul.options {
            margin-top: 1em; }
            .main-header nav#tasks_nav > ul > li .dropdown ul.options li a {
              background: #fff;
              text-decoration: underline;
              font-weight: normal;
              color: #4c4e50; }
              .main-header nav#tasks_nav > ul > li .dropdown ul.options li a:hover {
                background: #dee1e3; }

.sessions.new, .registrations.new {
  background: #152b39;
  background-size: cover;
  position: relative;
  height: 100%; }
  .sessions.new main, .registrations.new main {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 450px;
    top: 40%;
    left: 50%;
    text-align: center; }
    .sessions.new main header, .registrations.new main header {
      text-align: center;
      margin-bottom: 2em; }
      .sessions.new main header .logo, .registrations.new main header .logo {
        display: inline-block;
        background-size: contain;
        height: 62px;
        width: 198px;
        vertical-align: middle; }
  .sessions.new form, .registrations.new form {
    margin-bottom: 1.5em; }
    .sessions.new form .field, .registrations.new form .field {
      margin: .5em 0; }
    .sessions.new form [type="text"], .sessions.new form [type="email"], .sessions.new form [type="password"], .sessions.new form button, .registrations.new form [type="text"], .registrations.new form [type="email"], .registrations.new form [type="password"], .registrations.new form button {
      border: 0px none;
      width: 350px;
      padding: 1em;
      font-size: 1.1em; }
    .sessions.new form button, .registrations.new form button {
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      background: transparent;
      color: #fff;
      border: 1px solid #fff; }
      .sessions.new form button:hover, .registrations.new form button:hover {
        color: #152b39;
        background: #fff; }
  .sessions.new a, .registrations.new a {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: rgba(255, 255, 255, 0.5); }
    .sessions.new a:hover, .registrations.new a:hover {
      color: #fff; }

.tasks.index {
  overflow-y: scroll; }
  .tasks.index .tasks-wrapper {
    margin: 0 -0.5em 1em -0.5em; }
    .tasks.index .tasks-wrapper .task {
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 25%;
      -moz-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      cursor: pointer; }
      .tasks.index .tasks-wrapper .task .inner {
        background: rgba(222, 225, 227, 0.9);
        border-radius: 3px;
        margin: 0 0.5em 1em 0.5em;
        line-height: 1.75em;
        overflow: hidden;
        padding: 0.75em;
        min-height: 5em;
        animation-duration: .3s;
        animation-name: fadeIn; }
      .tasks.index .tasks-wrapper .task.form input {
        width: 100%;
        margin-bottom: .5em; }
      .tasks.index .tasks-wrapper .task.add-new .inner {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        color: #bdc3c7; }
        .tasks.index .tasks-wrapper .task.add-new .inner:hover {
          background: rgba(0, 0, 0, 0.2); }
      .tasks.index .tasks-wrapper .task.add-new .inner {
        position: relative; }
        .tasks.index .tasks-wrapper .task.add-new .inner a {
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          color: #bdc3c7; }

.tasks.show .fa-spin {
  color: #fff; }

.tasks.show .view-header {
  position: relative; }
  .tasks.show .view-header h3 {
    margin: 0;
    color: #fff; }
  .tasks.show .view-header .task-users {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 99; }
    .tasks.show .view-header .task-users > span > li {
      display: inline-block;
      margin-left: .5em; }
      .tasks.show .view-header .task-users > span > li.connected {
        opacity: 1; }
        .tasks.show .view-header .task-users > span > li.connected .react-gravatar {
          opacity: 1; }
      .tasks.show .view-header .task-users > span > li .react-gravatar, .tasks.show .view-header .task-users > span > li .add-new {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        opacity: .2; }
      .tasks.show .view-header .task-users > span > li .add-new {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        opacity: 1;
        display: block;
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        line-height: 1em;
        font-size: .9em; }
        .tasks.show .view-header .task-users > span > li .add-new .fa {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50%; }
        .tasks.show .view-header .task-users > span > li .add-new:hover {
          color: #fff;
          border-color: #fff; }
      .tasks.show .view-header .task-users > span > li .drop-down {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        position: absolute;
        right: 0;
        top: 100%;
        list-style: none;
        padding: 0.75em;
        background: rgba(222, 225, 227, 0.9);
        border-radius: 3px;
        min-width: 20em;
        display: none;
        animation-duration: .3s;
        animation-name: fadeIn; }
        .tasks.show .view-header .task-users > span > li .drop-down.active {
          display: block; }
        .tasks.show .view-header .task-users > span > li .drop-down form input {
          width: 100%;
          margin-bottom: .5em; }
    .tasks.show .view-header .task-users .avatar-appear {
      opacity: 0.01; }
    .tasks.show .view-header .task-users .avatar-appear.avatar-appear-active {
      -webkit-transition: opacity 0.5s ease-in;
      -moz-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in;
      opacity: 1; }
    .tasks.show .view-header .task-users .avatar-enter {
      opacity: 0.01; }
    .tasks.show .view-header .task-users .avatar-enter.avatar-enter-active {
      -webkit-transition: opacity 500ms ease-in;
      -moz-transition: opacity 500ms ease-in;
      transition: opacity 500ms ease-in;
      opacity: 1; }
    .tasks.show .view-header .task-users .avatar-leave {
      opacity: 1; }
    .tasks.show .view-header .task-users .avatar-leave.avatar-leave-active {
      -webkit-transition: opacity 300ms ease-in;
      -moz-transition: opacity 300ms ease-in;
      transition: opacity 300ms ease-in;
      opacity: 0.01; }

.tasks.show .canvas-wrapper {
  position: relative;
  height: calc(100% - 1em); }
  .tasks.show .canvas-wrapper .canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; }
    .tasks.show .canvas-wrapper .canvas table {
      border-spacing: 0; }
      .tasks.show .canvas-wrapper .canvas table td {
        padding: 2px 5px; }
      .tasks.show .canvas-wrapper .canvas table .jsonHeader {
        background: #2A8787; }
      .tasks.show .canvas-wrapper .canvas table .jsonOdd {
        background: #eee; }
      .tasks.show .canvas-wrapper .canvas table .jsonEven {
        background: #bdc3c7; }

/*# sourceMappingURL=application.css.map*/