// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles
body
  color: $base-font-color
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  line-height: $heading-line-height
  margin: 0 0 $small-spacing

p
  margin: 0 0 $small-spacing

a
  color: $action-color
  text-decoration: none
  transition: color $base-duration $base-timing

  &:active,
  &:focus,
  &:hover
    color: shade($action-color, 25%)
