.tasks.index
  overflow-y: scroll

  .tasks-wrapper
    $margin: 1em

    // +display(flex)
    // +flex-wrap(wrap)
    // +flex-flow(row wrap)
    margin: 0 (-$margin/2) $margin (-$margin/2)

    .task
      +transition
      +flex(0 0 25%)
      cursor: pointer

      .inner
        background: rgba($light-gray, .9)
        border-radius: $base-border-radius
        margin: 0 $margin/2 $margin $margin/2
        line-height: 1.75em
        overflow: hidden
        padding: $base-spacing/2
        min-height: 5em
        animation-duration: .3s
        animation-name: fadeIn

      &.form
        input
          +fill-parent
          margin-bottom: .5em

      &.add-new
        .inner
          +transition
          background: rgba(#000, .1)
          cursor: pointer
          color: $gray

          &:hover
            background: rgba(#000, .2)

        .inner
          position: relative

          a
            +transition
            +transform(translate(-50%, -50%))
            display: block
            position: absolute
            top: 50%
            left: 50%
            color: $gray

.tasks.show
  .fa-spin
    color: #fff
  .view-header
    position: relative

    h3
      margin: 0
      color: #fff

    .task-users
      +transform(translateY(-50%))
      list-style: none
      margin: 0
      padding: 0
      position: absolute
      right: 0
      top: 50%
      z-index: 99

      > span > li
        display: inline-block
        margin-left: .5em

        &.connected
          opacity: 1

          .react-gravatar
            opacity: 1

        .react-gravatar, .add-new
          +transition
          border-radius: $base-border-radius
          width: 30px
          height: 30px
          opacity: .2

        .add-new
          +transition
          opacity: 1
          display: block
          position: relative
          border: 1px solid rgba(#fff, .5)
          color: rgba(#fff, .5)
          line-height: 1em
          font-size: .9em

          .fa
            +transform(translate(-50%, -50%))
            position: absolute
            top: 50%
            left: 50%

          &:hover
            color: #fff
            border-color: #fff

        .drop-down
          +transition
          position: absolute
          right: 0
          top: 100%
          list-style: none
          padding: $base-spacing/2
          background: rgba($light-gray, .9)
          border-radius: $base-border-radius
          min-width: 20em
          display: none
          animation-duration: .3s
          animation-name: fadeIn

          &.active
            display: block

          form
            input
              +fill-parent
              margin-bottom: .5em

      .avatar-appear
        opacity: 0.01

      .avatar-appear.avatar-appear-active
        +transition(opacity .5s ease-in)
        opacity: 1

      .avatar-enter
        opacity: 0.01

      .avatar-enter.avatar-enter-active
        +transition(opacity 500ms ease-in)
        opacity: 1

      .avatar-leave
        opacity: 1

      .avatar-leave.avatar-leave-active
        +transition(opacity 300ms ease-in)
        opacity: 0.01

  .canvas-wrapper
    position: relative
    height: calc(100% - 1em)

    .canvas
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      overflow-x: auto
      overflow-y: hidden
      white-space: nowrap

      table
        border-spacing: 0

        td
          padding: 2px 5px

        .jsonHeader
          background: $header-green

        .jsonOdd
          background: #eee

        .jsonEven
          background: $gray
